In [0]:
schema=["id","salary"]
data= [('Shubham Thakur', 50000.00),
('Aman Chopra', 60000.50),
('Naveen Tulasi', 75000.75),
('Bhavika uppala', 45000.25),
('Nishant jain', 80000.00)]
df=spark.createDataFrame(data,schema)
df.show()

+--------------+--------+
|            id|  salary|
+--------------+--------+
|Shubham Thakur| 50000.0|
|   Aman Chopra| 60000.5|
| Naveen Tulasi|75000.75|
|Bhavika uppala|45000.25|
|  Nishant jain| 80000.0|
+--------------+--------+

In [0]:
from pyspark.sql import Window
from pyspark.sql.functions import col,dense_rank,desc
df1=Window.partitionBy().orderBy(df.salary.desc())
df_salary_rank=df.withColumn("salary_rank", dense_rank().over(df1))
df_salary_rank.show()

+--------------+--------+-----------+
|            id|  salary|salary_rank|
+--------------+--------+-----------+
|  Nishant jain| 80000.0|          1|
| Naveen Tulasi|75000.75|          2|
|   Aman Chopra| 60000.5|          3|
|Shubham Thakur| 50000.0|          4|
|Bhavika uppala|45000.25|          5|
+--------------+--------+-----------+

In [0]:
n = int(input("Enter the value of n: "))
print("n is: ", n)

df_salary_rank.filter(f"salary_rank == {n}").show()

Enter the value of n:  2

n is:  2
+-------------+--------+-----------+
|           id|  salary|salary_rank|
+-------------+--------+-----------+
|Naveen Tulasi|75000.75|          2|
+-------------+--------+-----------+