<a href="https://colab.research.google.com/github/rganesh203/Pyspark/blob/main/PySpark_Module_3_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Call By Value**

In [ ]:
a=10
def ChangeIt(b):
  print("value of b is", b)
  b=100
  print("New value of b is", b)
ChangeIt(a)
print(a)

value of b is 10
New value of b is 100
10

**Call By Reference**

In [ ]:
c=[10,20,30]
def ChangeThem(d):
  print("value of d is", d)
  d[0]=99
  d[1]=98
  print("New value of d is", d)
ChangeThem(c)
print(c)

value of d is [10, 20, 30]
New value of d is [99, 98, 30]
[99, 98, 30]

**Local Variable**

In [ ]:
f=100
print (f)
def some_function():
  f = 200
  print(f)
some_function()
print(f)

100
200
200

**Global Variable**

In [ ]:
x = "X is global"
print(x)
def test1():
  global x
  y = "local variable"
  x = x + "testing global"
  print(y)
  print(x)
test1()
print(x)

X is global
local variable
X is globaltesting global
X is globaltesting global

In [ ]:
x = "global"
def outer():
  x = "local"
  def inner():
    x = "nonlocal"
    x += " testing"
    print(x)
  inner()
  print(x)
outer()
print(x)

nonlocal testing
local
global

In [ ]:
x = "global"

def foo():
    print("x inside :", x)

foo()
print("x outside:", x)

x inside : global
x outside: global

**Accessing Class Members**

In [ ]:
#studentCounter = 0
class Student:
	RollNo = None
	Name= None
	Subjects = None
	studentCounter = 1
	def __init__(self,callingRoll,callingName):
		self.RollNo = callingRoll
		self.Name = callingName
		self.Subjects = list()
		self.add_Subject()

	@staticmethod
	def classFunc():
		print(studentCounter)

	def add_Subject(self):
		if self.RollNo > 0 and self.RollNo <1234:
			self.Subjects.append("Math")
		else:
			 self.Subjects.append("Commerce")


	def display_student_details(self):
		print("Name of the student is: "+ self.Name)
		print("Roll No is: "+ str(self.RollNo))

def test1():
	print("not a class fun")



#Studetn1 --> Name = Praveen, RollNo = 1234
#Student2 --> Name = Pr , RollNo = 2345
student1 = Student(1234,"Praveen")
print(student1.Subjects)
print(student1.RollNo)
print(student1.Name)
Student.classFunc()
print(studentCounter)
student2 = Student(2345,"Pr")
print(student2.Subjects)
Student.classFunc()
print(studentCounter)
student1.display_student_details()
print(id(student1.Subjects))
print(id(student2.Subjects))
student2.display_student_details()
student1.classFunc()
student2.classFunc()
print("totat students are : "+str(studentCounter))
#print(Student.classFunc())
#Creating new instance attribute for obj2
#student2.variable = "I was just created"
#print(student1.variable)
#print(student2.variable)
#print(Student.variable)
#x = 10
#y = 20
#obj1.function(x,y)

['Commerce']
1234
Praveen
0
0
['Commerce']
0
0
Name of the student is: Praveen
Roll No is: 1234
139805053446656
139805053446736
Name of the student is: Pr
Roll No is: 2345
0
0
totat students are : 0

In [ ]:
class Parents():
  a = "test"
  def display(self):
    print("hello parent class func")

class Child(Parents):
  def func1(self):
    print("in func1")

  def display(self):
    super().display()
    print("this is child class func")


c = Child()
c.display()
print(c.a)

hello parent class func
this is child class func
test

**Overloading a Function**

In [ ]:
def add(intof,*args,**kwargs):
      if intof=='int':
              result=123456
      if intof=='str':
              result='stringOutput'
      #for i in args:
      #        result+=i
      #result = 0
      print("all elements in args")
      for item in args:
        print(item)
      print("all elements in kwargs")
      for item in kwargs:
        print("key is: "+str(item)+"  and values is : ")
        print(kwargs[item])
      return result
a = add('int',3,'2',5,name="praveen",rollNo="1234")
b = add('str','a',rooNo=345)
print(a)
print(b)

all elements in args
3
2
5
all elements in kwargs
key is: name  and values is :
praveen
key is: rollNo  and values is :
1234
all elements in args
a
all elements in kwargs
key is: rooNo  and values is :
345
123456
stringOutput

**Overriding a Function**

In [ ]:
class A:
  def sayhi(self):
    print("I'm in A")
class B(A):
  def sayhi(self):
    print("I'm in B")
bobj=B()
bobj.sayhi()

I'm in B

**Accessing Private Method**

In [ ]:
class Car:

    def __init__(self):
        #self.__updateSoftware()
        pass

    def drive(self):
        print ('driving')

    def __updateSoftware(self):
        print ('updating software')

redcar = Car()
redcar.drive()
redcar._Car__updateSoftware()

driving
updating software

**Lambda Function Example 1**

In [ ]:
def lambdaex(a, n):
  return a+n

def myfunc(n):
  print(n)
  return lambda a : a + n

print(lambdaex(10,3))
mySum = myfunc(3)
print("this is before execution")
print(mySum(10))

13
3
this is before execution
13

**Lambda Function Example 2**

In [ ]:
def ex(a,b,c,d,e):
  return a+b*c+d-e + 10

x = lambda a,b,c,d,e : a+b + 10
print(x(5,6,7,8,9))
print(ex(5,6,7,8,9))

21
56

In [ ]:
def fun(eleOfSeq):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (eleOfSeq in letters):
        return True
    else:
        return False


# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
vowel_list = list()
for item in sequence:
  if item in ['a', 'e', 'i', 'o', 'u']:
    vowel_list.append(item)
print(vowel_list)
# using filter function
filtered = filter(lambda eleOfSeq: eleOfSeq in ['a','e','i','o','u'], sequence)
print(list(filtered))
print('The filtered letters are:')
for s in filtered:
    print(s)

['e', 'e']
['e', 'e']
The filtered letters are:

In [ ]:
final_list = []
listofList = [[1,2,3,4,5],[4,5,6,7]]
def func1(listelem):
  global final_list
  print("list element")
  print(listelem)
  final_list = final_list + listelem
  print("final list")
  print(final_list)
  return final_list
  #final_list = final_list+element1
#lambda element1:
ex2 = map(func1,listofList)
for item in ex2:
  print(item)

#print(final_list)
#print("final list")
#ex2 = max(final_list)

In [ ]:
from typing import Counter
import functools

# initializing list
lis = [1, 3, 5, 6, 2, ]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")

print(functools.reduce(lambda a, b: a+b, lis,0))
def count1():
  a =0+ 1
  print("first time")
  yield a
  a +=b
  print("second time")
  yield a
  a +=b
  print("third time")
  yield a

x = count1()
print(next(x))
print(next(x))
print(next(x))
def func(a,b):
  return a+b
print(functools.reduce(func, lis,2))
#0+1 =1 -->new A
#1+3 = 4 --> new A
#4+5 = 9 --> new A
#9+6 = 15 --> new A
#15+2 = 17 --> final result
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
first time
1
second time
1
third time
1
19
The maximum element of the list is : 6

In [ ]:
"""
final_list = []
def func1(listelem):
  global final_list
  print(listelem)
  final_list = final_list + listelem
  print(final_list)
  return final_list
  #final_list = final_list+element1
#lambda element1:
#ex2 = map(lambda x :func1(x),listofList)
#print(final_list)
#print("final list")
#ex2 = max(final_list)
"""

In [ ]:
from typing import Counter
from functools import reduce

listofList = [[20220101,20220201,20220301],[20220401,20220201,20220301,333333],[20220101,20220201,20220401]]

lis1 = [1,2,3,4]
lis2 = [5,3,7,8]
listOfCelcius = [32,55,45,20]
print(lis1+lis2)
set1 = set()
result = map(lambda elem: max(elem),listofList)
result1 = map(lambda origElem: tuple(origElem),listofList)
result3 = map(lambda celcius: 32-celcius, listOfCelcius)
def fn(elem):
  if len(elem) < 3:
    return False
  else:
    return True
result4 = filter(fn,listofList)
# select * from listOfList where lenght(col) < 3
print("result4")
print(list(result4))
print(list(result3))
print(list(result1))
print(max(list(result)))
ex1  = max(list(reduce(lambda list1,list2: list1+list2,listofList,[])))
#list1 --> [] list2 --> [20220101,20220201,20220301]
#list1 --> [20220101,20220201,20220301] list2 --> [20220401,20220201,20220301]
#list1 --> [20220101,20220201,20220301,20220401,20220201,20220301] list2--> [20220101,20220401]
#list1 --> [20220101,20220201,20220301,20220401,20220201,20220301,20220101,20220401] list2 -->[]
print(ex1)

[1, 2, 3, 4, 5, 3, 7, 8]
result4
[[20220101, 20220201, 20220301], [20220401, 20220201, 20220301, 333333]]
[0, -23, -13, 12]
[(20220101, 20220201, 20220301), (20220401, 20220201, 20220301, 333333), (20220101, 20220401)]
20220401
20220401

In [ ]:
listOfStudents = [{"name":"Praveen","roll":1234,"grade":"A"},{"name":"Prav","roll":234,"grade":"C"},{"name":"Pr","roll":34,"grade":"B"}]
def fn(elem):
  if elem["grade"] == "A" or elem["grade"] == "B":
    elem["result"] = "Pass"
  else:
    elem["result"] = "Fail"
  return elem

def fn2(elem):
  if elem["result"] == "Pass":
    return True
  else:
    return False
calPass = map(fn,listOfStudents)
newlistofStudent = list(calPass)
PassedStudents = list(filter(fn2,newlistofStudent))
listex1 = [True,False,True,True]
print(list(filter(None,listex1)))
print(newlistofStudent)
print(PassedStudents)
RollNOfPassedStudents = reduce(lambda a,b : a+str(b["roll"])+",",PassedStudents,"").split(",")[:-1]
print(RollNOfPassedStudents)

[True, True, True]
[{'name': 'Praveen', 'roll': 1234, 'grade': 'A', 'result': 'Pass'}, {'name': 'Prav', 'roll': 234, 'grade': 'C', 'result': 'Fail'}, {'name': 'Pr', 'roll': 34, 'grade': 'B', 'result': 'Pass'}]
[{'name': 'Praveen', 'roll': 1234, 'grade': 'A', 'result': 'Pass'}, {'name': 'Pr', 'roll': 34, 'grade': 'B', 'result': 'Pass'}]
['1234', '34']

In [ ]:
def first(msg):
  print(msg)


first("Hello")

second = first
second("Hello")

Hello
Hello

In [ ]:
def inc(x):
    return x + 1


def dec(x):
    return x - 1


def operate(func, x):
    result = func(x)
    return result
print(operate(inc,4))
print(operate(dec,4))

5
3

In [ ]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        #func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()
#print("before reassignment")
#ordinary = make_pretty(ordinary)
#print("after reassignment")
#ordinary()

I got decorated

**Python Time Module:**

**>> time.time()**

In [ ]:
import time
seconds = time.time()
print("Seconds since epoch =", seconds)

Seconds since epoch = 1568356819.110993

**>> time.sleep()**

In [ ]:
import time
print("This is printed immediately.")
time.sleep(2.4)
print("This is printed after 2.4 seconds.")

This is printed immediately.
This is printed after 2.4 seconds.

**Python sys module:**

In [ ]:
import sys
for i in (sys.stdin, sys.stdout, sys.stderr):
  print(i)

<_io.TextIOWrapper name='<stdin>' mode='r' encoding='UTF-8'>
<ipykernel.iostream.OutStream object at 0x7f39266e9d68>
<ipykernel.iostream.OutStream object at 0x7f39266e99e8>

**Python os module**

In [ ]:
import os
print(os.name)

posix

**Python socket module:**

In [ ]:
import socket

ip = socket.gethostbyname('www.google.com')
print (ip)

74.125.20.104

**Python Exceptions**

In [ ]:
try:
    a=1/0
    print(a)

except ZeroDivisionError:
    print ("You can't divide by zero!!!")

You can't divide by zero!!!

**Try - Finally Clause (Forced Interrupt)**

In [ ]:
a= int(input("Enter value a:"))
b= int(input("Enter value b:"))
try:
    if b==0:
            raise Exception("b must be always greater than 0")
    c=a/b
    print(c)
except Exception as e:
    print(e)
finally:
    print ('Hello Learners!')

Enter value a:5
Enter value b:0
b must be always greater than 0
Hello Learners!

In [ ]:
def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError as e:
        print("Error: Division by zero is not allowed.")
        result = None
    except TypeError as e:
        print("Error: Invalid data type for division.")
        result = None
    finally:
        print("This will always be executed, regardless of exceptions.")
    return result

# Example usage:
numerator = 10
denominator = 2
result = divide_numbers(numerator, denominator)
print("Result:", result)

denominator = 0
result = divide_numbers(numerator, denominator)
print("Result:", result)

This will always be executed, regardless of exceptions.
Result: 5.0
Error: Division by zero is not allowed.
This will always be executed, regardless of exceptions.
Result: None