<a href="https://colab.research.google.com/github/rganesh203/Pyspark/blob/main/PySpark_Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Your first print statement!**

In [ ]:
print("Hello World!")

Hello World!

**Assigning Multiple Values to a Variable**

In [ ]:
a = 20
a=b=c=30
#a = 30
#b = 30
#c = 30
x,y,z=10,25,30
l = 30.00005
#x = 10
#y = 25
#z = 30
print(a)
a = "string test"

print(a)
'''
this is also a multiline comment
3 single quotes works
'''
"""

"""
multine_string = """this is a multline string
u can type any \n you want.
i also want to use '' and "" in my string """
sql_stmt = "insert into table 1 values("+None+",2,3,'praveen'"
print("hello world")
print(30+40)
print(type(x))
print(type(l))
print("all abc values"+a+str(b)+str(c))
print("value of a is:{} and value of b:{} and value of c is:{}".format(a,b,c))
print(a,b,c,x,y,z)
print(str(y)+"str test")
print(a)
#fun1()

30
string test
hello world
70
<class 'int'>
<class 'float'>
all abc valuesstring test3030
value of a is:string test and value of b:30 and value of c is:30
string test 30 30 10 25 30
25str test
string test

**String Literals Example**

In [ ]:
name1='Anirudh'
name2="Intellipaat"
#
"""
This is an example of multiline comment.
we use double
"""
print(name1)
print(name2)
text1='hello\World'
multiline="""t1
...st2
...st3
this is line4
this is line5"""
multiline1 = "str1"\
"continue str1"\
"continue str1"
print(multiline)
print(multiline1)

Anirudh
Intellipaat
t1
...st2
...st3
this is line4
this is line5
str1continue str1continue str1

**Number Datatype**

In [ ]:
a = 5
b = 10.0
#a = None
# Output: <class 'int’>
print(type(a))
# Output: <class 'float’>

print(type(5.0))
if isinstance(a,int):
  print("it is int")
elif isinstance(a,float):
  print("it is a float")
else:
  print("it is NoneType")

# Output: (8+3j)
c = 5 + 3j
print(c + 4j)
print(type(c))
# Output: True

print("check if c is of type complex: ",isinstance(c, complex))
#a = "this is test string"

#print(a.replace('t','z'))

<class 'int'>
<class 'float'>
it is int
(5+7j)
<class 'complex'>
check if c is of type complex  True

**Special Literals**

In [ ]:
val1=10
val2=None
sqlStmt = """select * from student where name = null"""
print(val1)
print(type(val2))

NameError: ignored

In [ ]:
a = 10
b = 20
c = a + b
d = a - b
e = a*b
f = a/b
g = a%b

print(c)
print(d)
print(e)
print(f)
print(g)
print("all the output are:"+str(c)+str(d)+str(e)+str(f)+str(g))
print("all the output are:",c,d,e,f,g,sep='|')
print("all the output are:{},{},{},{},{}".format(c,d,e,f,g))
print(" all output "+str(c)+","+str(d)+","+str(e)+","+str(f)+","+str(g))
Student_roll = 123
Student_name = "Praveen"
Student_age = 29
str1 = """the name of the student is {} and he is {} years old and {} is his
 roll no""".format(Student_name,Student_age,Student_roll)
print(str1)
sql_stmt = """select * from table1 where student_name ={}""".format(Student_name)
#PEP80

30
-10
200
0.5
10
all the output are:30-102000.510
all the output are:|30|-10|200|0.5|10
all the output are:30,-10,200,0.5,10
 all output 30,-10,200,0.5,10
the name of the student is Praveen and he is 29 years old and 123 is his
 roll no

**Assignment Operators**

In [ ]:
a=10
a*=100
a = a* 100
a = a*100
b=a*5
b+=10
b = b+10
print(a)
print(b)

10000000
50000020

**Comparison Operators**

In [ ]:
Min_x=18
Max_x=18
if Min_x <= Max_x:
  print('a is greater or equal b')
  print(Min_x)
else:
  print('b is greater')
  print(str(Min_x)+".."+str(Max_x))

a is greater or equal b
18

**Logical Operators**

In [ ]:
isSunday = True
isHoliday = True
result = not isSunday
print(result)

if isHoliday and isSunday:
  if isHoliday:
    print(isHoliday)
  else:
    print(isSunday)
    print('Sunday is a fun day!!')
elif isHoliday:
  print("is Holiday")
else:
    print('Not a holiday!')

if isHoliday or isSunday:
    print('one of them is true')
else:
    print('Not a holiday!')

if not isHoliday:
    print('opposite of isholiday')
else:
    print('Not a holiday!')

False

In [ ]:
a = 7 | 5
#111
#101
#111
b = 7 & 5
#111 = 7
#101
#101 =5
c = 1 << 2
#001
#100 = 4
d = ~5
#0101
#1010
print(a)
print(b)
print(c)
print(d)

7
5
4
-6

In [ ]:
a = 10
b = 11
print(a is not b)

True

In [ ]:
#0001
a = "pr"
#0003
#a = "am"
x = 10
x = 20
str1 = "praveen"
print(id(str1))
str1 = str1+"am"
print(id(str1))
list1 = list()
list1 = ["element1","elemnet2","element3"]
print(id(list1))
list1.append("element20")
print(id(list1))

print(a in str1)

#print(id(str1))
str1 = "am"
#print(id(str1))

140111262480752
140111261844080
140111261492800
140111261492800
True

**Numbers in Python**

In [ ]:
#message = 'Hello World'
num = 1234
rate = 13.6
#print(type(message)) #return a string
print(type(num)) #return an integer
print(type(rate)) #return a float

<class 'int'>
<class 'float'>

**Strings - An Example**

In [ ]:
var1 = '''Hello-World!'''
var2 = 'Python,Tutonrial,as'
var4 = """select * from table1 where name='Praveen'"""
var5="filenameasasasasa.txt"
vr3 = var2.find('as')
print(vr3)
str1 = var5[:-4]
print(str1)
print(str1+"empty sting")
str1 = var4[:]
print(str1)

#print(var1[2]) # prints the first character in the string `H`
#print(var2[3:]) # prints the substring ‘ytho`
#print(vr3)
#print(str1)
#print(str2)
value1 = """\\x0Praveen\\x0bangalore\\x0india"""
str2 = value1.replace("\\x0",",",2)
filename_split = value1.split("\\x0",2)
print(filename_split)
print(str2)
str1.isnumeric()
print(str2)
print(len(str1))
#print(str1)
print(str1.count("a"))

17
filenameasasasasa
filenameasasasasaempty sting
select * from table1 where name='Praveen'
['', 'Praveen', 'bangalore\\x0india']
,Praveen,bangalore\x0india
,Praveen,bangalore\x0india
41
3

In [ ]:
a = ''' this is to test the maximum  character you can write in a
    single line in python without breaking pep80 rules .
    what is th emaximum charaters in a single line '''
lsit1 = a.strip().capitalize().split(" ")
str1 = " ".join(lsit1)
print(lsit1)
print(str1)

['This', 'is', 'to', 'test', 'the', 'maximum', '', 'character', 'you', 'can', 'write', 'in', 'a', '', '\n', '', '', '', 'single', 'line', 'in', 'python', 'without', 'breaking', 'pep80', 'rules', '.', '', '\n', '', '', '', 'what', 'is', 'th', 'emaximum', 'charaters', 'in', 'a', 'single', 'line']
This is to test the maximum  character you can write in a
    single line in python without breaking pep80 rules .
    what is th emaximum charaters in a single line

In [ ]:
age = 19
Name = "Pr"
status = None
if age <= 20:
  status = "teenager"
  if "P" in Name:
    print("tenager with name starting from p")
elif age > 20 and age < 40:
  status = "adult"
elif age > 40 and age < 60:
  status = "adult2"
else:
  status = "senior"
print(status)

tenager with name starting from p
teenager

**For Construct in Python**

In [ ]:
ids = list()
ids1 = list()
print(range(0,100))
x = 0
while x in range(0,101):
  ids.append(x)
  x = x+2
for x in range(0,101):
  if x%2 !=0:
    continue
  ids1.append(x)
print(ids)
print(ids1)

range(0, 100)
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[0]

In [ ]:
fruits = ["apple", "banana", "cherry", "Watermelon",2]
dic1 = {0:"value1",1:"value2",2:"https://google.com"}
set1 = {1,2,3}
tuple1 = (1,2,3,4,5)

for y in tuple1:
    print(y)
for index in range(0,len(fruits)):
  print(fruits[index])
#for(int i =0,i <len(fruits); i++)
#{sys.println(fruits[i])}
#[0,1,2,3,4,5,6]
"""
for i in range(0,len(fruits)):
  #a.append(i+1)
  print("Second method")
  print(i)
  print(fruits[i])
#print(a)
#b = [i for i in range(0,7)]
#print(b)"""

1
2
3
4
5
apple
banana
cherry
Watermelon
2

'\nfor i in range(0,len(fruits)):\n  #a.append(i+1)\n  print("Second method")\n  print(i)\n  print(fruits[i])\n#print(a)\n#b = [i for i in range(0,7)]\n#print(b)'

**While Construct in Python**

In [ ]:
i = 1
fruits = ["apple", "banana", "cherry", "Watermelon"]
while i <6:
  print(i)
  i += 2

1
3
5

**While with Break statement**

In [ ]:
i = 1
while i < 6:
  if i == 4:
    i += 1
    break
  print(i)
  i += 1
print('Broke out of the loop!')

Broke out of the loop!

**While with Continue Statement**

In [ ]:
i = 0
z = 10
while i < 6:
  i += 1
  if i == 3:
    pass
  else:
    z = i*100
  print(i)
  print(z)

1
100
2
200
3
200
4
400
5
500
6
600

In [ ]:
cars = ["ford","maruthi","toyto"]
cars.append("audi")
print(len(cars))
print(cars[0])
print(cars)
print(id(cars))
for element in cars:
  print(element)
  print("\n")
cars[1] = "honda"
print(cars)
print(id(cars))

4
ford
['ford', 'maruthi', 'toyto', 'audi']
140164775122976
ford


maruthi


toyto


audi


['ford', 'honda', 'toyto', 'audi']
140164775122976

**Python Strings - Slicing**

In [ ]:
b = "Hello, World!"
print(b[1:6])

ello,

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**String Lower**

In [2]:
a = "Hello ganesh!"
print(a.lower())

hello ganesh!

**String Upper**

In [1]:
a = "Hello ganesh!"
print(a.upper())

HELLO GANESH!

**String Replace**

In [3]:
a = "Hello¶Ganesh!!!"
print(a)
print(a.replace("¶", " ").replace("H","J").lower())

Hello¶Ganesh!!!
jello ganesh!!!

**String Concatenation**

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

Hello World

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Tuples**

Creation of a tuple

In [ ]:
ani = tuple()
print(ani)
print(id(ani))
ani = ("Python", "Java", "R")
print(ani.index("Python"))
print(ani.count("R"))
ani = ("Python", "Java", "R","newele")
print(id(ani))
print(ani)

()
139762007421008
0
1
139761670818512
('Python', 'Java', 'R', 'newele')

**Access Tuple element**

In [ ]:
thistuple = ("Python", "Scala", "R",2,(1,2,3))
print(thistuple[4])
tuple1 = (1,2,3)
tuple2 = ("ab1","ab2","ab3")
tuple3 = tuple1 + tuple2
print(tuple3)
#zippd = zip(tuple1,tuple2)

for element in thistuple:
  print(element)
for indx in range(0,len(thistuple)):
  print("the idex is : "+str(indx)+" and the element is: ")
  print(thistuple[indx])
"""
print([(x,y) for x,y in zippd])
list1 = list()
for x,y in zippd:
  list1.append((x,y))
print("printlist by old method")
print(list1)
print(thistuple[4][1])
for item in thistuple:
  if isinstance(item,int):
    print("element at position {} is an integer".format(thistuple.index(item)))
  elif isinstance(item,str):
    print("element at position {} is a string".format(thistuple.index(item)))
  else:
    print("couldnt identify datatype")
"""

(1, 2, 3)
(1, 2, 3, 'ab1', 'ab2', 'ab3')
Python
Scala
R
2
(1, 2, 3)
the idex is : 0 and the element is:
Python
the idex is : 1 and the element is:
Scala
the idex is : 2 and the element is:
R
the idex is : 3 and the element is:
2
the idex is : 4 and the element is:
(1, 2, 3)

'\nprint([(x,y) for x,y in zippd])\nlist1 = list()\nfor x,y in zippd:\n  list1.append((x,y))\nprint("printlist by old method")\nprint(list1)\nprint(thistuple[4][1])\nfor item in thistuple:\n  if isinstance(item,int):\n    print("element at position {} is an integer".format(thistuple.index(item)))\n  elif isinstance(item,str):\n    print("element at position {} is a string".format(thistuple.index(item)))\n  else:\n    print("couldnt identify datatype")\n'

Check item presence

In [ ]:
studenttuple = ("Praveen", "math", "science")

if "Praveen" in studenttuple:
  print("Yes, 'Praveen' is in the fruits tuple")
else:
  print("Element not found!!!")

Yes, 'Praveen' is in the fruits tuple

**Lists**

Creation of a list

In [ ]:
thislist = list()
print(id(thislist))
list2 = [[1,2],("a","b"),[2.0,1.0],2]
for element in list2:
  if isinstance(element,list):
    print("inner element is a list printiting out the entire inner list")
    print(element)

  elif isinstance(element,tuple):
    print("inner elemnt is a tuple")
    print(element)

  else:
    print("neither a list nor a tuple "+str(element))

table_records = [(1,'pravee',123),(2,'student2',234),(3,'student3',3434)]


#print(list2)

thislist.append("Python")
thislist.append("java")
thislist.append("R")
print("print thislist:")
print(thislist)
print("print index of java")
print(thislist.index("java"))
list4 = thislist.copy()
print("print copied list")
print(list4)
print("insert new element r in position 1")
thislist.insert(1,"R")
print(thislist)
print("print count of no of time element r is present in list")
print(thislist.count("R"))
print("remove 3rd element")
thislist.pop(2)
print(thislist)
print("remove R")
thislist.remove("R")
thislist.append("new element")
print(thislist)
print("reverse the list")
thislist.reverse()
print(thislist)
thislist.clear()
print(thislist)
thislist = ["Python", "Java", "R"]
print(id(thislist))
print(id(list4))
list5 = list4
print(id(list5))
thislist.extend([1,2,3,4])
print(thislist)
thislist.append(["ab","bc"])
print(thislist)
thislist.insert(0,["ab","bc"])
print(thislist)
#print(thislist[1])
listconcat = [1,2,3] + [4,5,6]
print(listconcat)

139761474850000
inner element is a list printiting out the entire inner list
[1, 2]
inner elemnt is a tuple
('a', 'b')
inner element is a list printiting out the entire inner list
[2.0, 1.0]
neither a list nor a tuple 2
print thislist:
['Python', 'java', 'R']
print index of java
1
print copied list
['Python', 'java', 'R']
insert new element r in position 1
['Python', 'R', 'java', 'R']
print count of no of time element r is present in list
2
remove 3rd element
['Python', 'R', 'R']
remove R
['Python', 'R', 'new element']
reverse the list
['new element', 'R', 'Python']
[]
139761474850640
139761474850320
139761474850320
['Python', 'Java', 'R', 1, 2, 3, 4]
['Python', 'Java', 'R', 1, 2, 3, 4, ['ab', 'bc']]
[['ab', 'bc'], 'Python', 'Java', 'R', 1, 2, 3, 4, ['ab', 'bc']]
[1, 2, 3, 4, 5, 6]

In [ ]:
num1 = 12
"""
last = num1%10
first = int(num1/10)
reversenum = int(str(last)+str(first))
print(reversenum)
"""
numstr = str(num1)
print(int(numstr[::-1]))

21

In [ ]:
newLIst = [1,2,3]
print(newLIst)
newLIst.extend([2,5,6])
#newList += [2]
print(newLIst)
newLIst.append([2,5,6])
print(newLIst)

[1, 2, 3]
[1, 2, 3, 2, 5, 6]
[1, 2, 3, 2, 5, 6, [2, 5, 6]]

**Accessing Items in a List**

In [ ]:
thislist = ["Python", "Java", "R"]
print(thislist[0])
tupletolist = list(tuple1)
print(tupletolist)

Python
[1, 2, 3]

**Changing the item value**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist[1] = "Scala"
print(thislist)

['Python', 'Scala', 'R']

**Loop through the list**

In [ ]:
thislist = ["Python", "Java", "R", "Scala"]
for x in thislist:
  print(x)

Python
Java
R
Scala

**Check Item existance**

In [ ]:
thislist = ["Python", "Java", "R"]
if "Scala" in thislist:
  print("Yes, 'Python' is in the list")
else:
  print("Element not present!!")

Element not present!!

**List Length**

In [ ]:
thislist = ["Python", "Java", "R", "Scala"]
print(len(thislist))

4

**Appending items to the list**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist.append("ReactJS")
print(thislist)

['Python', 'Java', 'R', 'ReactJS']

**Adding using insert method**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Removing an item from a list**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist.remove("Java")
print(thislist)

['Python', 'R']

**Removing element using pop**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist.pop()
print(thislist)

['Python', 'Java']

**Copying a list**

In [ ]:
thislist = [["Python","a"], ["Java", "R"]]
print(id(thislist))
print(thislist)
mylist = thislist.copy()
mylist[1]=["m","b"]
print(id(mylist))
print(mylist)

139761474684720
[['Python', 'a'], ['Java', 'R']]
139761474686160
[['Python', 'a'], ['m', 'b']]

**Copying list using list method**

In [ ]:
thislist = ["Python", "Java", "R"]
list1 = list(thislist)

for _ in range(0,10):
  list1.append(_)
print(list1)
mylist = list(thislist)
print(mylist)
list1.reverse()

print(list1)
list1.clear()
print(list1)

['Python', 'Java', 'R', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['Python', 'Java', 'R']
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 'R', 'Java', 'Python']
[]

In [ ]:
import copy

list1 = [1,2,[3,4],5]
list2 = copy.copy(list1)

print("original list")
print(list1)
print("copy list")
print(list2)
list2.append(45)
print("original list after chng1")
print(list1)
print("copy list after chng1")
print(list2)
list1.append(22)
print("original list after chng2")
print(list1)
print("copy list after chng1")
print(list2)

original list
[1, 2, [3, 4], 5]
copy list
[1, 2, [3, 4], 5]
original list after chng1
[1, 2, [3, 4], 5]
copy list after chng1
[1, 2, [3, 4], 5, 45]
original list after chng2
[1, 2, [3, 4], 5, 22]
copy list after chng1
[1, 2, [3, 4], 5, 45]

**Dictionary in Python**

Creating a dictionary

In [ ]:
thisdict = dict()
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "manufacturing_plant": {"city":"bangalore","state":"Karnataka"}
}
thisdict["newkey"] = "testing"
print(thisdict)
thisdict["key"] = "value1"
print(thisdict)
thisdict["brand"] = "Toyota"
print(thisdict)
print(thisdict["manufacturing_plant"])
print(thisdict["manufacturing_plant"]["city"])
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "Parts" : ["tires","windows","doors"]
}
print(thisdict)
student_dict = {"Student1":{"name":"Praveen","RollNo":1234},"Student2":{"name":"Praveen1","RollNo":3334}}
print(student_dict)
import json
test_string = json.dumps(student_dict)
print(type(test_string))
print(test_string)

'{"Student1": {"name": "Praveen", "RollNo": 1234}, "Student2": {"name": "Praveen1", "RollNo": 3334}}'
test_dict = json.loads(test_string)
print(type(test_dict))
print(test_dict["Student1"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'manufacturing_plant': {'city': 'bangalore', 'state': 'Karnataka'}, 'newkey': 'testing'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'manufacturing_plant': {'city': 'bangalore', 'state': 'Karnataka'}, 'newkey': 'testing', 'key': 'value1'}
{'brand': 'Toyota', 'model': 'Mustang', 'year': 1964, 'manufacturing_plant': {'city': 'bangalore', 'state': 'Karnataka'}, 'newkey': 'testing', 'key': 'value1'}
{'city': 'bangalore', 'state': 'Karnataka'}
bangalore
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Parts': ['tires', 'windows', 'doors']}
{'Student1': {'name': 'Praveen', 'RollNo': 1234}, 'Student2': {'name': 'Praveen1', 'RollNo': 3334}}
<class 'str'>
{"Student1": {"name": "Praveen", "RollNo": 1234}, "Student2": {"name": "Praveen1", "RollNo": 3334}}
<class 'dict'>
{'name': 'Praveen', 'RollNo': 1234}

**Change values in dictionary**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "tupleexample": (2,3),
  "listexample": [1,2,3],
  "listoftuples": [(2,3),(4,5)]
}
print(thisdict)
thisdict["year"] = 2020
print(thisdict["year"])
json_file = [{
  "brand": "Ford",
  "model": "Mustang",
  "brand": "Maruthi",
  "year": 1964
},
{
  "brand1": "Maruti",
  "model": "Zen",
  "year": 2002
},
{
  "brand2": "Toyota",
  "model": "innova",
  "year": 2010
}]

for dict_key in thisdict:
  print("key is :{} and the value is:{} ".format(dict_key,str(thisdict[dict_key])))

print("keys of dict as a list")
print(thisdict.keys())
print("values of dict as a list")
print(thisdict.values())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'tupleexample': (2, 3), 'listexample': [1, 2, 3], 'listoftuples': [(2, 3), (4, 5)]}
2020
key is :brand and the value is:Ford
key is :model and the value is:Mustang
key is :year and the value is:2020
key is :tupleexample and the value is:(2, 3)
key is :listexample and the value is:[1, 2, 3]
key is :listoftuples and the value is:[(2, 3), (4, 5)]
keys of dict as a list
dict_keys(['brand', 'model', 'year', 'tupleexample', 'listexample', 'listoftuples'])
values of dict as a list
dict_values(['Ford', 'Mustang', 2020, (2, 3), [1, 2, 3], [(2, 3), (4, 5)]])

**Print values**

In [ ]:
for x in thisdict:
  print(str(x)+":"+str(thisdict[x]))
for x in thisdict.values():
  # thisdict.values = ["Ford","Mustang",2020]
  print(x)
for x in thisdict.keys():
  # thisdict.keys = ["brand","model","year"]
  print(x)

brand:Ford
model:Mustang
year:2020
Ford
Mustang
2020
brand
model
year

**Check key presence**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "Mustang" in thisdict.values():
  print("Yes, Mustang is one of the Values in the thisdict dictionary")
else:
  print("given value doesnt exist in dict")
if "brand" in thisdict.keys():
  print("Yes, brand is one of the keys in the thisdict dictionary")
else:
  print("given Key doesnt exist in dict")

Yes, Mustang is one of the Values in the thisdict dictionary
Yes, brand is one of the keys in the thisdict dictionary

**Print length**

In [ ]:
print(len(thisdict))

3

**Adding items**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Removing items**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict2 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("brand","The key Doesnt Exist"))
thisdict.pop("model")
print(thisdict)
list1 = list()
list1.append(thisdict)
list1.append(thisdict2)
print(list1)

Ford
{'brand': 'Ford', 'year': 1964}
[{'brand': 'Ford', 'year': 1964}, {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}]

**Nested Dictionaries**

In [ ]:
myparent = {  "row1" : {    "name" : "Emil",    "year" : 2004  },  "row2" : {"FullName" : "Tobias","month" : 8},
            "row3" : "stringasasas"}

for x in myparent.keys():
  if isinstance(myparent[x],dict):
    print("this is inner dict of myparent")
    for innerkey in myparent[x]:
      print("parent dict key is:{} the inner dict key is :{} and inner value for tht key is :{}".format(x,innerkey,myparent[x][innerkey]))
    #print(myparent[x])
  else:
    print("parent key is:"+str(x))
    print("the value is not a dict")
    print(myparent[x])
print(type(thisdict))

Emil
2004
Tobias
8
stringasasas
this is inner dict of myparent
parent dict key is:row1 the inner dict key is :name and inner value for tht key is :Emil
parent dict key is:row1 the inner dict key is :year and inner value for tht key is :2004
this is inner dict of myparent
parent dict key is:row2 the inner dict key is :FullName and inner value for tht key is :Tobias
parent dict key is:row2 the inner dict key is :month and inner value for tht key is :8
parent key is:row3
the value is not a dict
stringasasas
<class 'dict'>

**Sets in Python**

Create a set

In [ ]:
list1 = [1,2,3,3,3,4,4]
set1 = set(list1)
print(set1)
print(list(set1))
set2 = {1,2,3,3,4}
print(set2)

{1, 2, 3, 4}
[1, 2, 3, 4]
{1, 2, 3, 4}

In [ ]:
thisset = {"apple", "banana", "cherry","cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

**Access Items in the set**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
for item in thisset:
  print(item)

{'apple', 'banana', 'cherry'}
apple
banana
cherry

**Check item presence**

In [ ]:
list1 = [1,2,3,3,4,5,5]
print(tuple(set(list1)))

(1, 2, 3, 4, 5)

In [ ]:
thisset = {"apple", "banana", "cherry"}
x = set()
print(type(x))
thisset.add("newelement")
print(thisset)
print("banana" in thisset)
list1 = [1,1,1,1,3,4,5]
list2 = [3,6,7]
set1 = set(list1)
print(set1)
set2 = set(list2)
print(set2)
set3 = set1.difference(set2)
print(set3)
set4 = set1.intersection(set2)
print(set4)
list3 = list(set.intersection(set1,set2,set3))
#print(list3)
set3 = set.difference(set1,set2)
#se1 - set2
print("before diff update")
print(set1)
print(set2)
#set1.difference_update(set2)
print("after update")
print(set1)
#print(set1)
#print(set3)
print(set1.isdisjoint(set2))
print(set1.issubset(set2))
print("before intersection update")
print(set1)
print(set2)
set1.intersection_update(set2)
print("after intersection update")
print(set1)
print(set2)
print(set1.issubset(set2))
set6 = {1,2,3,4,5}
set7 = {1,2,3}
print(set6.issubset(set7))
print(set6.issuperset(set7))
set1 = {1,3,7}
print("symetric difference")
print(set1)
print(set2)
print(set1.symmetric_difference(set2))
set1.symmetric_difference_update(set2) #A-B U B-A
print(set1)

<class 'set'>
{'newelement', 'apple', 'banana', 'cherry'}
True
{1, 3, 4, 5}
{3, 6, 7}
{1, 4, 5}
{3}
before diff update
{1, 3, 4, 5}
{3, 6, 7}
after update
{1, 3, 4, 5}
False
False
before intersection update
{1, 3, 4, 5}
{3, 6, 7}
after intersection update
{3}
{3, 6, 7}
True
False
True
symetric difference
{1, 3, 7}
{3, 6, 7}
{1, 6}
{1, 6}

**Add items to set**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

**Length of the set**

In [ ]:
thisset = {"apple", "banana", "cherry","Watermelon"}

print(len(thisset))

4

**Remove an item**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
f = ["line1 blah blah","line 2 blah blah","line3"]
list1 = [elem.replace("\n","") if "line 2" in elem else
                     'not legitimate line' for elem in f]
print(list1)
list2 = list()
for elem in f:
  if "line 2" in elem:
    list2.append(elem)
  else:
    list2.append('not legitimate line')
print(list2)

['line1 blah blah', 'line 2 blah blah', 'line3']
['not legitimate line', 'line 2 blah blah', 'not legitimate line']

In [ ]:
dict1 = {"key1":"vslue1","key2":"value2"}
list1 = [1,2,3,4]
print({**dict1})
print([*list1])

{'key1': 'vslue1', 'key2': 'value2'}
[1, 2, 3, 4]