In [0]:
from pyspark.sql.functions import col

# Sample data with null values
data = [
    (1, "John", None),
    (2, "Jane", 25),
    (3, None, 30),
    (4, "Doe", None)
]
# Define the schema for the DataFrame
schema = ["id", "name", "age"]

# Creating DataFrame
df = spark.createDataFrame(data, schema)
df.display()

id,name,age
1,John,null
2,Jane,25
3,null,30
4,Doe,null

In [0]:
# Remove rows with any NULL values
df_clean_any = df.dropna()
df_clean_any.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  2|Jane| 25|
+---+----+---+

In [0]:
# Remove rows where all columns are NULL
df_clean_all = df.dropna(how='all')
df_clean_all.show()

+---+----+----+
| id|name| age|
+---+----+----+
|  1|John|null|
|  2|Jane|  25|
|  3|null|  30|
|  4| Doe|null|
+---+----+----+

In [0]:
# Remove rows with NULLs in 'name' or 'salary'
df_clean_subset = df.dropna(subset=['name', 'age'])
df_clean_subset.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  2|Jane| 25|
+---+----+---+